/*Colors: http://paletton.com/#uid=54h0u0k3i7H4mcB3L9O4O7c9y6a */
/*Custom Color:
  http://paletton.com/#uid=100050kuiiUvNtru4nlwudexs7O */

:root {
  /*Primary LIGHTEST --> DARKEST*/
  --Primary1: #3F3D45;
  --Primary2: #323036;
  --Primary3: #27262A;
  --Primary4: #242227;
  --Primary5: #1B1922;
  /*Secondary #1 LIGHTEST --> DARKEST*/
  --Secondary11: #403A43;
  --Secondary12: #322E34;
  --Secondary13: #282529;
  --Secondary14: #242126;
  --Secondary15: #1E1721;
  /*Secondary #2 LIGHTEST --> DARKEST*/
  --Secondary21: #3C3E44;
  --Secondary22: #2F3135;
  --Secondary23: #262729;
  --Secondary24: #222327;
  --Secondary25: #181B21;
}

body {
  background-color: ivory;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Varela Round', 'sans-serif';
}

/*  Menu Bar */
/*  Clean Box Shadows --> https://www.joshwcomeau.com/css/designing-shadows/  */
.Dropdown {
  display: none;
}

.Team-Selector {
  background-color: rgb(243, 243, 243);

  box-shadow: 0 0.2vw 0.2vw hsl(0deg 0% 0% / 0.075),
              0 0.4vw 0.4vw hsl(0deg 0% 0% / 0.075),
              0 0.8vw 0.8vw hsl(0deg 0% 0% / 0.075),
              0 0.16vw 0.16vw hsl(0deg 0% 0% / 0.075),
              0 0.32vw 0.32vw hsl(0deg 0% 0% / 0.075);

  border-radius: 5vw;
  padding: 1.3vw 5vw;
  margin: 1vw 2vw;

  display: flex;
  flex-flow: row nowrap;

  transition: 0.2s;
}
.Team-Selector div {
  background-color: rgb(100, 200, 70);

  border-radius: 5vw;
  padding: 1vw;
  margin: 0 1.5vw;

  text-align: center;
  font-size: 2.5vw;
  font-weight: 700;

  flex: 1 1 20vw;

  transition: 0.2s;
}
.Team-Selector a {
  color: black;

  font-family: 'Varela Round', 'sans-serif';
  text-decoration: none;

  transition: 0.3s;
}

/*  Player Displays  */
.card-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 2vw 2vw 0 2vw;
}
/*  Box Shadow Tutorial  https://www.joshwcomeau.com/css/designing-shadows/  */
.card:nth-child(1) {
  box-shadow: -1vw 0.4vw 0.4vw hsl(0deg 0% 0% / 0.05),
              -1vw 0.8vw 0.8vw hsl(0deg 0% 0% / 0.05),
              -1vw 1.6vw 1.6vw hsl(0deg 0% 0% / 0.05),
              -1vw 3.2vw 3.2vw hsl(0deg 0% 0% / 0.05),
              -1vw 6.4vw 6.4vw hsl(0deg 0% 0% / 0.05);}
.card:nth-child(2) {
  box-shadow: -0.5vw 0.4vw 0.4vw hsl(0deg 0% 0% / 0.05),
              -0.5vw 0.8vw 0.8vw hsl(0deg 0% 0% / 0.05),
              -0.5vw 1.6vw 1.6vw hsl(0deg 0% 0% / 0.05),
              -0.5vw 3.2vw 3.2vw hsl(0deg 0% 0% / 0.05),
              -0.5vw 6.4vw 6.4vw hsl(0deg 0% 0% / 0.05);}
.card:nth-child(3) {
  box-shadow: 0vw 0.3vw 0.4vw hsl(0deg 0% 0% / 0.08),
              0vw 0.6vw 0.8vw hsl(0deg 0% 0% / 0.08),
              0vw 1.2vw 1.6vw hsl(0deg 0% 0% / 0.08),
              0vw 3.2vw 3.2vw hsl(0deg 0% 0% / 0.08),
              0vw 6.4vw 6.4vw hsl(0deg 0% 0% / 0.08);}
.card:nth-child(4) {
  box-shadow: 0.5vw 0.4vw 0.4vw hsl(0deg 0% 0% / 0.05),
              0.5vw 0.8vw 0.8vw hsl(0deg 0% 0% / 0.05),
              0.5vw 1.6vw 1.6vw hsl(0deg 0% 0% / 0.05),
              0.5vw 3.2vw 3.2vw hsl(0deg 0% 0% / 0.05),
              0.5vw 6.4vw 6.4vw hsl(0deg 0% 0% / 0.05);}
.card:nth-child(5) {
  box-shadow: 1vw 0.4vw 0.4vw hsl(0deg 0% 0% / 0.05),
              1vw 0.8vw 0.8vw hsl(0deg 0% 0% / 0.05),
              1vw 1.6vw 1.6vw hsl(0deg 0% 0% / 0.05),
              1vw 3.2vw 3.2vw hsl(0deg 0% 0% / 0.05),
              1vw 6.4vw 6.4vw hsl(0deg 0% 0% / 0.05);}

.card {
  background-color: rgb(243, 243, 243);
  margin: 1vw;
	overflow: hidden;
	font-family: 'Varela Round';
	border-radius: 3vw;
  flex: 1 1 150px;
  transition: 0.1s;
}

.card .image {
	position: relative;
}

.card .image #background-img {
	width: 100%;
}

.card .image #player-img {
	width: 70%;
	border-radius: 100%;
	z-index: 1;
	position: absolute;
	left: 15%; top: 35%;
}

.card .info-box #player-name {
	margin-top: 35%;
	text-align: center;
	font-size: 1vw;
}

.card .info-box .stats{
	display: flex;
	position: relative;
	line-height: 0;
  margin: 2.5vw 0 -2vw 0;
	width: 80%;
	left: 10%; right: 10%; top: -2vw;
}

.card .info-box .stats #kills {
	flex-grow: 1;
	text-align: center;
}

.card .info-box .stats h2 {
	font-size: 1.5vw;
}

.card .info-box .stats h3 {
	font-size: 1.2vw;
	color: rgb(105, 105, 105);
}

.card .info-box .stats #deaths {
	flex-grow: 1;
	text-align: center;
}

.card .info-box .account-button {
	margin: 1vw 0 0 0;
	text-align: center;
}
.card .info-box .account-button #button {
	cursor: pointer;
	font-family: 'Varela Round';
	font-weight: 700;
	width: 12vw;
	height: 3vw;
	font-size: 1.8vw;
	border-radius: 5vw;
	border: none;
  background-color: rgb(255,201,14);
}
.card .info-box .info-text {
	text-align: center;
	font-size: 1vw;
	font-weight: 570;
	color: rgb(78, 77, 77);
	position: relative;
	margin: 1.5vw 0 2vw 0;
	width: 80%;
	left: 10%; right: 10%;
}
/*  Scrollbar  */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b4b4b4;
  margin: 20vh;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
}

/*  Animations  */
.card:hover {
  transform: scale(103%);
}